<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>com.defcon.sortDescriptor</key>
		<array>
			<dict>
				<key>ascending</key>
				<array>
					<string>a</string>
					<string>circumflex</string>
					<string>uni0323</string>
					<string>.notdef</string>
					<string>.null</string>
					<string>CR</string>
					<string>space</string>
					<string>A</string>
					<string>B</string>
					<string>C</string>
					<string>D</string>
					<string>E</string>
					<string>F</string>
					<string>G</string>
					<string>H</string>
					<string>I</string>
					<string>J</string>
					<string>K</string>
					<string>L</string>
					<string>M</string>
					<string>N</string>
					<string>O</string>
					<string>P</string>
					<string>Q</string>
					<string>R</string>
					<string>S</string>
					<string>T</string>
					<string>U</string>
					<string>V</string>
					<string>W</string>
					<string>X</string>
					<string>Y</string>
					<string>Z</string>
					<string>Aacute</string>
					<string>Abreve</string>
					<string>Acircumflex</string>
					<string>Adieresis</string>
					<string>Agrave</string>
					<string>Amacron</string>
					<string>Anocross</string>
					<string>Aogonek</string>
					<string>Aring</string>
					<string>Aringacute</string>
					<string>Atilde</string>
					<string>AE</string>
					<string>AEacute</string>
					<string>Cacute</string>
					<string>Ccaron</string>
					<string>Ccedilla</string>
					<string>Ccircumflex</string>
					<string>Cdotaccent</string>
					<string>Dcaron</string>
					<string>Dcroat</string>
					<string>Eth</string>
					<string>Eacute</string>
					<string>Ebreve</string>
					<string>Ecaron</string>
					<string>Ecircumflex</string>
					<string>Edieresis</string>
					<string>Edotaccent</string>
					<string>Egrave</string>
					<string>Emacron</string>
					<string>Eogonek</string>
					<string>Gbreve</string>
					<string>Gcircumflex</string>
					<string>Gcommaaccent</string>
					<string>Gdotaccent</string>
					<string>Hbar</string>
					<string>Hcircumflex</string>
					<string>Iacute</string>
					<string>Ibreve</string>
					<string>Icircumflex</string>
					<string>Idieresis</string>
					<string>Idotaccent</string>
					<string>Igrave</string>
					<string>Imacron</string>
					<string>Iogonek</string>
					<string>Itilde</string>
					<string>Jcircumflex</string>
					<string>Kcommaaccent</string>
					<string>Lacute</string>
					<string>Lcaron</string>
					<string>Lcommaaccent</string>
					<string>Ldot</string>
					<string>Lslash</string>
					<string>Nacute</string>
					<string>Ncaron</string>
					<string>Ncommaaccent</string>
					<string>Ntilde</string>
					<string>Eng</string>
					<string>Oacute</string>
					<string>Obreve</string>
					<string>Ocircumflex</string>
					<string>Odieresis</string>
					<string>Ograve</string>
					<string>Ohungarumlaut</string>
					<string>Omacron</string>
					<string>Oslash</string>
					<string>Oslashacute</string>
					<string>Otilde</string>
					<string>OE</string>
					<string>Racute</string>
					<string>Rcaron</string>
					<string>Rcommaaccent</string>
					<string>Sacute</string>
					<string>Scaron</string>
					<string>Scedilla</string>
					<string>Scircumflex</string>
					<string>Scommaaccent</string>
					<string>uni1E9E</string>
					<string>Tbar</string>
					<string>Tcaron</string>
					<string>Tcommaaccent</string>
					<string>Uacute</string>
					<string>Ubreve</string>
					<string>Ucircumflex</string>
					<string>Udieresis</string>
					<string>Ugrave</string>
					<string>Uhungarumlaut</string>
					<string>Umacron</string>
					<string>Uogonek</string>
					<string>Uring</string>
					<string>Utilde</string>
					<string>Wacute</string>
					<string>Wcircumflex</string>
					<string>Wdieresis</string>
					<string>Wgrave</string>
					<string>Yacute</string>
					<string>Ycircumflex</string>
					<string>Ydieresis</string>
					<string>Ygrave</string>
					<string>IJ</string>
					<string>Zacute</string>
					<string>Zcaron</string>
					<string>Zdotaccent</string>
					<string>Thorn</string>
					<string>b</string>
					<string>c</string>
					<string>d</string>
					<string>e</string>
					<string>f</string>
					<string>g</string>
					<string>h</string>
					<string>i</string>
					<string>j</string>
					<string>k</string>
					<string>l</string>
					<string>m</string>
					<string>n</string>
					<string>o</string>
					<string>p</string>
					<string>q</string>
					<string>r</string>
					<string>s</string>
					<string>t</string>
					<string>u</string>
					<string>v</string>
					<string>w</string>
					<string>x</string>
					<string>y</string>
					<string>z</string>
					<string>aacute</string>
					<string>abreve</string>
					<string>acircumflex</string>
					<string>adieresis</string>
					<string>agrave</string>
					<string>amacron</string>
					<string>aogonek</string>
					<string>aring</string>
					<string>aringacute</string>
					<string>atilde</string>
					<string>ae</string>
					<string>aeacute</string>
					<string>cacute</string>
					<string>ccaron</string>
					<string>ccedilla</string>
					<string>ccircumflex</string>
					<string>cdotaccent</string>
					<string>dcaron</string>
					<string>dcroat</string>
					<string>eth</string>
					<string>eacute</string>
					<string>ebreve</string>
					<string>ecaron</string>
					<string>ecircumflex</string>
					<string>edieresis</string>
					<string>edotaccent</string>
					<string>egrave</string>
					<string>emacron</string>
					<string>eogonek</string>
					<string>gbreve</string>
					<string>gcircumflex</string>
					<string>gcommaaccent</string>
					<string>gdotaccent</string>
					<string>germandbls</string>
					<string>hbar</string>
					<string>hcircumflex</string>
					<string>iacute</string>
					<string>ibreve</string>
					<string>icircumflex</string>
					<string>idieresis</string>
					<string>idotaccent</string>
					<string>igrave</string>
					<string>imacron</string>
					<string>iogonek</string>
					<string>itilde</string>
					<string>dotlessi</string>
					<string>jcircumflex</string>
					<string>dotlessj</string>
					<string>kcommaaccent</string>
					<string>kgreenlandic</string>
					<string>lacute</string>
					<string>lcaron</string>
					<string>lcommaaccent</string>
					<string>ldot</string>
					<string>lslash</string>
					<string>nacute</string>
					<string>ncaron</string>
					<string>ncommaaccent</string>
					<string>ntilde</string>
					<string>eng</string>
					<string>oacute</string>
					<string>obreve</string>
					<string>ocircumflex</string>
					<string>odieresis</string>
					<string>oe</string>
					<string>ograve</string>
					<string>ohungarumlaut</string>
					<string>omacron</string>
					<string>oslash</string>
					<string>oslashacute</string>
					<string>otilde</string>
					<string>racute</string>
					<string>rcaron</string>
					<string>rcommaaccent</string>
					<string>sacute</string>
					<string>scaron</string>
					<string>scedilla</string>
					<string>scircumflex</string>
					<string>scommaaccent</string>
					<string>tbar</string>
					<string>tcaron</string>
					<string>tcommaaccent</string>
					<string>uacute</string>
					<string>ubreve</string>
					<string>ucircumflex</string>
					<string>udieresis</string>
					<string>ugrave</string>
					<string>uhungarumlaut</string>
					<string>umacron</string>
					<string>uogonek</string>
					<string>uring</string>
					<string>utilde</string>
					<string>wacute</string>
					<string>wcircumflex</string>
					<string>wdieresis</string>
					<string>wgrave</string>
					<string>yacute</string>
					<string>ycircumflex</string>
					<string>ydieresis</string>
					<string>ygrave</string>
					<string>ij</string>
					<string>zacute</string>
					<string>zcaron</string>
					<string>zdotaccent</string>
					<string>thorn</string>
					<string>ordfeminine</string>
					<string>ordmasculine</string>
					<string>cordinal</string>
					<string>a.sup</string>
					<string>b.sup</string>
					<string>c.sup</string>
					<string>d.sup</string>
					<string>e.sup</string>
					<string>f.sup</string>
					<string>g.sup</string>
					<string>h.sup</string>
					<string>i.sup</string>
					<string>j.sup</string>
					<string>k.sup</string>
					<string>l.sup</string>
					<string>m.sup</string>
					<string>n.sup</string>
					<string>o.sup</string>
					<string>p.sup</string>
					<string>q.sup</string>
					<string>r.sup</string>
					<string>s.sup</string>
					<string>t.sup</string>
					<string>u.sup</string>
					<string>v.sup</string>
					<string>w.sup</string>
					<string>x.sup</string>
					<string>y.sup</string>
					<string>z.sup</string>
					<string>f_b</string>
					<string>f_f_b</string>
					<string>ff</string>
					<string>f_h</string>
					<string>f_f_h</string>
					<string>fi</string>
					<string>ffi</string>
					<string>f_j</string>
					<string>f_f_j</string>
					<string>f_k</string>
					<string>f_f_k</string>
					<string>fl</string>
					<string>ffl</string>
					<string>f_t</string>
					<string>f_f_t</string>
					<string>f_dotlessi</string>
					<string>f_f_dotlessi</string>
					<string>f_t_t</string>
					<string>t_t</string>
					<string>ampersand</string>
					<string>ampersand.alt</string>
					<string>acute</string>
					<string>breve</string>
					<string>caron</string>
					<string>caronSlovak</string>
					<string>cedilla</string>
					<string>altcedilla</string>
					<string>commaaccent</string>
					<string>dieresis</string>
					<string>dotaccent</string>
					<string>dotbelow</string>
					<string>doublegrave</string>
					<string>grave</string>
					<string>hungarumlaut</string>
					<string>invertedbreve</string>
					<string>macron</string>
					<string>ogonek</string>
					<string>ring</string>
					<string>tilde</string>
					<string>commaaccent.alt</string>
					<string>uni0300</string>
					<string>uni0301</string>
					<string>uni0302</string>
					<string>uni0303</string>
					<string>uni0304</string>
					<string>uni0305</string>
					<string>uni0306</string>
					<string>uni0307</string>
					<string>uni0308</string>
					<string>uni0309</string>
					<string>uni030A</string>
					<string>uni030B</string>
					<string>uni030C</string>
					<string>uni030D</string>
					<string>uni030E</string>
					<string>uni030F</string>
					<string>uni0310</string>
					<string>uni0311</string>
					<string>uni0312</string>
					<string>uni0313</string>
					<string>uni0314</string>
					<string>uni0315</string>
					<string>uni0316</string>
					<string>uni0317</string>
					<string>uni0318</string>
					<string>uni0319</string>
					<string>uni031A</string>
					<string>uni031B</string>
					<string>uni031C</string>
					<string>uni031D</string>
					<string>uni031E</string>
					<string>uni031F</string>
					<string>uni0320</string>
					<string>uni0321</string>
					<string>uni0322</string>
					<string>uni0324</string>
					<string>uni0325</string>
					<string>uni0326</string>
					<string>uni0327</string>
					<string>uni0328</string>
					<string>uni0329</string>
					<string>uni032A</string>
					<string>uni032B</string>
					<string>uni032C</string>
					<string>uni032D</string>
					<string>uni032E</string>
					<string>uni032F</string>
					<string>uni0330</string>
					<string>uni0331</string>
					<string>uni0332</string>
					<string>uni0333</string>
					<string>acute.cap</string>
					<string>breve.cap</string>
					<string>caron.cap</string>
					<string>circumflex.cap</string>
					<string>commaaccent.cap</string>
					<string>dieresis.cap</string>
					<string>dotaccent.cap</string>
					<string>doublegrave.cap</string>
					<string>grave.cap</string>
					<string>hungarumlaut.cap</string>
					<string>invertedbreve.cap</string>
					<string>macron.cap</string>
					<string>ring.cap</string>
					<string>tilde.cap</string>
					<string>period</string>
					<string>comma</string>
					<string>colon</string>
					<string>semicolon</string>
					<string>ellipsis</string>
					<string>exclam</string>
					<string>exclamdown</string>
					<string>exclamdown.cap</string>
					<string>question</string>
					<string>questiondown</string>
					<string>questiondown.cap</string>
					<string>interrobang</string>
					<string>interrobangdown</string>
					<string>interrobangdown.cap</string>
					<string>quoteleft</string>
					<string>quoteright</string>
					<string>quotedblleft</string>
					<string>quotedblright</string>
					<string>quotesinglbase</string>
					<string>quotedblbase</string>
					<string>reversequoteleft</string>
					<string>reversequotedblleft</string>
					<string>guilsinglleft</string>
					<string>guilsinglright</string>
					<string>guillemotleft</string>
					<string>guillemotright</string>
					<string>guilsinglleft.cap</string>
					<string>guilsinglright.cap</string>
					<string>guillemotleft.cap</string>
					<string>guillemotright.cap</string>
					<string>slash</string>
					<string>backslash</string>
					<string>bar</string>
					<string>doublebar</string>
					<string>brokenbar</string>
					<string>bullet</string>
					<string>slash.cap</string>
					<string>backslash.cap</string>
					<string>bar.cap</string>
					<string>doublebar.cap</string>
					<string>brokenbar.cap</string>
					<string>bullet.cap</string>
					<string>nbspace</string>
					<string>enspace</string>
					<string>emspace</string>
					<string>threeperemspace</string>
					<string>fourperemspace</string>
					<string>sixperemspace</string>
					<string>figurespace</string>
					<string>punctuationspace</string>
					<string>thinspace</string>
					<string>hairspace</string>
					<string>zerowidthspace</string>
					<string>periodcentered</string>
					<string>hyphen</string>
					<string>uni00AD</string>
					<string>onethirdemdash</string>
					<string>endash</string>
					<string>threequarteremdash</string>
					<string>emdash</string>
					<string>figuredash</string>
					<string>uni2015</string>
					<string>periodcentered.cap</string>
					<string>hyphen.cap</string>
					<string>onethirdemdash.cap</string>
					<string>endash.cap</string>
					<string>threequarteremdash.cap</string>
					<string>emdash.cap</string>
					<string>figuredash.cap</string>
					<string>uni2015.cap</string>
					<string>parenleft</string>
					<string>parenright</string>
					<string>bracketleft</string>
					<string>bracketright</string>
					<string>braceleft</string>
					<string>braceright</string>
					<string>anglebracketleft</string>
					<string>anglebracketright</string>
					<string>parenleft.cap</string>
					<string>parenright.cap</string>
					<string>bracketleft.cap</string>
					<string>bracketright.cap</string>
					<string>braceleft.cap</string>
					<string>braceright.cap</string>
					<string>anglebracketleft.cap</string>
					<string>anglebracketright.cap</string>
					<string>asterisk</string>
					<string>dagger</string>
					<string>daggerdbl</string>
					<string>section</string>
					<string>paragraph</string>
					<string>asciicircum</string>
					<string>asciitilde</string>
					<string>underscore</string>
					<string>lowline</string>
					<string>underscoremonospace</string>
					<string>quotesingle</string>
					<string>quotedbl</string>
					<string>tripleprime</string>
					<string>at</string>
					<string>at.cap</string>
					<string>copyright</string>
					<string>registered</string>
					<string>registered.cap</string>
					<string>published</string>
					<string>trademark</string>
					<string>servicemark</string>
					<string>Euro</string>
					<string>dollar</string>
					<string>cent</string>
					<string>sterling</string>
					<string>florin</string>
					<string>yen</string>
					<string>uni20A1</string>
					<string>uni20A2</string>
					<string>franc</string>
					<string>lira</string>
					<string>indianrupee</string>
					<string>uni20A6</string>
					<string>peseta</string>
					<string>uni20A8</string>
					<string>uni20A9</string>
					<string>uni20AA</string>
					<string>uni20AE</string>
					<string>uni20B1</string>
					<string>uni0E3F</string>
					<string>numbersign</string>
					<string>numbersign.alt</string>
					<string>zero</string>
					<string>one</string>
					<string>two</string>
					<string>three</string>
					<string>four</string>
					<string>five</string>
					<string>six</string>
					<string>seven</string>
					<string>eight</string>
					<string>nine</string>
					<string>dollar.LT</string>
					<string>copyright.LT</string>
					<string>registered.LT</string>
					<string>sterling.LT</string>
					<string>Euro.LT</string>
					<string>cent.LT</string>
					<string>florin.LT</string>
					<string>yen.LT</string>
					<string>Euro.LP</string>
					<string>dollar.LP</string>
					<string>cent.LP</string>
					<string>sterling.LP</string>
					<string>florin.LP</string>
					<string>yen.LP</string>
					<string>uni20A1.LP</string>
					<string>uni20A2.LP</string>
					<string>uni20A3.LP</string>
					<string>uni20A4.LP</string>
					<string>uni20A6.LP</string>
					<string>uni20A7.LP</string>
					<string>uni20A8.LP</string>
					<string>uni20A9.LP</string>
					<string>uni20AA.LP</string>
					<string>uni20AE.LP</string>
					<string>uni20B1.LP</string>
					<string>uni0E3F.LP</string>
					<string>numbersign.LP</string>
					<string>zero.LP</string>
					<string>one.LP</string>
					<string>two.LP</string>
					<string>three.LP</string>
					<string>four.LP</string>
					<string>five.LP</string>
					<string>six.LP</string>
					<string>seven.LP</string>
					<string>eight.LP</string>
					<string>nine.LP</string>
					<string>zero.LT</string>
					<string>one.LT</string>
					<string>two.LT</string>
					<string>three.LT</string>
					<string>four.LT</string>
					<string>five.LT</string>
					<string>six.LT</string>
					<string>seven.LT</string>
					<string>eight.LT</string>
					<string>nine.LT</string>
					<string>zero.slash</string>
					<string>Euro.OP</string>
					<string>dollar.OP</string>
					<string>cent.OP</string>
					<string>sterling.OP</string>
					<string>florin.OP</string>
					<string>yen.OP</string>
					<string>uni20A1.OP</string>
					<string>uni20A2.OP</string>
					<string>uni20A3.OP</string>
					<string>uni20A4.OP</string>
					<string>uni20A6.OP</string>
					<string>uni20A7.OP</string>
					<string>uni20A8.OP</string>
					<string>uni20A9.OP</string>
					<string>uni20AA.OP</string>
					<string>uni20AE.OP</string>
					<string>uni20B1.OP</string>
					<string>uni0E3F.OP</string>
					<string>numbersign.OP</string>
					<string>zero.OP</string>
					<string>one.OP</string>
					<string>two.OP</string>
					<string>three.OP</string>
					<string>four.OP</string>
					<string>five.OP</string>
					<string>six.OP</string>
					<string>seven.OP</string>
					<string>eight.OP</string>
					<string>nine.OP</string>
					<string>zero.OT</string>
					<string>one.OT</string>
					<string>two.OT</string>
					<string>three.OT</string>
					<string>four.OT</string>
					<string>five.OT</string>
					<string>six.OT</string>
					<string>seven.OT</string>
					<string>eight.OT</string>
					<string>nine.OT</string>
					<string>zero.XP</string>
					<string>one.XP</string>
					<string>two.XP</string>
					<string>three.XP</string>
					<string>four.XP</string>
					<string>five.XP</string>
					<string>six.XP</string>
					<string>seven.XP</string>
					<string>eight.XP</string>
					<string>nine.XP</string>
					<string>zero.XT</string>
					<string>one.XT</string>
					<string>two.XT</string>
					<string>three.XT</string>
					<string>four.XT</string>
					<string>five.XT</string>
					<string>six.XT</string>
					<string>seven.XT</string>
					<string>eight.XT</string>
					<string>nine.XT</string>
					<string>period.T</string>
					<string>comma.T</string>
					<string>colon.T</string>
					<string>semicolon.T</string>
					<string>zero.num</string>
					<string>one.num</string>
					<string>two.num</string>
					<string>three.num</string>
					<string>four.num</string>
					<string>five.num</string>
					<string>six.num</string>
					<string>seven.num</string>
					<string>eight.num</string>
					<string>nine.num</string>
					<string>zero.den</string>
					<string>one.den</string>
					<string>two.den</string>
					<string>three.den</string>
					<string>four.den</string>
					<string>five.den</string>
					<string>six.den</string>
					<string>seven.den</string>
					<string>eight.den</string>
					<string>nine.den</string>
					<string>zero.sup</string>
					<string>one.sup</string>
					<string>two.sup</string>
					<string>three.sup</string>
					<string>four.sup</string>
					<string>five.sup</string>
					<string>six.sup</string>
					<string>seven.sup</string>
					<string>eight.sup</string>
					<string>nine.sup</string>
					<string>zero.sub</string>
					<string>one.sub</string>
					<string>two.sub</string>
					<string>three.sub</string>
					<string>four.sub</string>
					<string>five.sub</string>
					<string>six.sub</string>
					<string>seven.sub</string>
					<string>eight.sub</string>
					<string>nine.sub</string>
					<string>uni215F</string>
					<string>onehalf</string>
					<string>uni2153</string>
					<string>uni2154</string>
					<string>onequarter</string>
					<string>threequarters</string>
					<string>uni2155</string>
					<string>uni2156</string>
					<string>uni2157</string>
					<string>uni2158</string>
					<string>uni2159</string>
					<string>uni215A</string>
					<string>uni2150</string>
					<string>uni215B</string>
					<string>uni215C</string>
					<string>uni215D</string>
					<string>uni215E</string>
					<string>fraction</string>
					<string>uni2070</string>
					<string>onesuperior</string>
					<string>twosuperior</string>
					<string>threesuperior</string>
					<string>uni2074</string>
					<string>uni2075</string>
					<string>uni2076</string>
					<string>uni2077</string>
					<string>uni2078</string>
					<string>uni2079</string>
					<string>uni207A</string>
					<string>uni207B</string>
					<string>uni207C</string>
					<string>uni207D</string>
					<string>uni207E</string>
					<string>uni2080</string>
					<string>uni2081</string>
					<string>uni2082</string>
					<string>uni2083</string>
					<string>uni2084</string>
					<string>uni2085</string>
					<string>uni2086</string>
					<string>uni2087</string>
					<string>uni2088</string>
					<string>uni2089</string>
					<string>uni208A</string>
					<string>uni208B</string>
					<string>uni208C</string>
					<string>uni208D</string>
					<string>uni208E</string>
					<string>zero.inf</string>
					<string>one.inf</string>
					<string>two.inf</string>
					<string>three.inf</string>
					<string>four.inf</string>
					<string>five.inf</string>
					<string>six.inf</string>
					<string>seven.inf</string>
					<string>eight.inf</string>
					<string>nine.inf</string>
					<string>plus.inf</string>
					<string>minus.inf</string>
					<string>equal.inf</string>
					<string>parenleft.inf</string>
					<string>parenright.inf</string>
					<string>onesixteenth</string>
					<string>threesixteenths</string>
					<string>fivesixteenths</string>
					<string>sevensixteenths</string>
					<string>ninesixteenths</string>
					<string>elevensixteenths</string>
					<string>thirteensixteenths</string>
					<string>fifteensixteenths</string>
					<string>onethirtysecond</string>
					<string>threethirtyseconds</string>
					<string>fivethirtyseconds</string>
					<string>seventhirtyseconds</string>
					<string>ninethirtyseconds</string>
					<string>eleventhirtyseconds</string>
					<string>thirteenthirtyseconds</string>
					<string>fifteenthirtyseconds</string>
					<string>seventeenthirtyseconds</string>
					<string>nineteenthirtyseconds</string>
					<string>twentyonethirtyseconds</string>
					<string>twentythreethirtyseconds</string>
					<string>twentyfivethirtyseconds</string>
					<string>twentyseventhirtyseconds</string>
					<string>twentyninethirtyseconds</string>
					<string>thirtyonethirtyseconds</string>
					<string>percent</string>
					<string>perthousand</string>
					<string>percent.LT</string>
					<string>percent.LP</string>
					<string>perthousand.LP</string>
					<string>percent.OT</string>
					<string>percent.OP</string>
					<string>perthousand.OP</string>
					<string>uni2116</string>
					<string>currency</string>
					<string>afii61289</string>
					<string>estimated</string>
					<string>musicflatsign</string>
					<string>musicnaturalsign</string>
					<string>musicsharpsign</string>
					<string>arrowleft</string>
					<string>arrowright</string>
					<string>arrowup</string>
					<string>arrowdown</string>
					<string>arrowleft.alt</string>
					<string>arrowdown.alt</string>
					<string>arrowright.alt</string>
					<string>arrowup.alt</string>
					<string>uni2196</string>
					<string>uni2197</string>
					<string>uni2198</string>
					<string>uni2199</string>
					<string>whitecircle</string>
					<string>blackcircle</string>
					<string>mediumwhitecircle</string>
					<string>mediumblackcircle</string>
					<string>blacksquare</string>
					<string>whitesquare</string>
					<string>squaremultiply</string>
					<string>blacksmallsquare</string>
					<string>whitesmallsquare</string>
					<string>ballotboxwithx</string>
					<string>triagup</string>
					<string>triagdn</string>
					<string>triaglf</string>
					<string>triagrt</string>
					<string>uni25E4</string>
					<string>uni25E5</string>
					<string>uni25E2</string>
					<string>uni25E3</string>
					<string>bullseye</string>
					<string>uni2605</string>
					<string>uni263C</string>
					<string>uni263E</string>
					<string>uni267B</string>
					<string>uni267C</string>
					<string>uni267D</string>
					<string>house</string>
					<string>spade</string>
					<string>club</string>
					<string>heart</string>
					<string>diamond</string>
					<string>plus</string>
					<string>minus</string>
					<string>plusminus</string>
					<string>multiply</string>
					<string>divide</string>
					<string>equal</string>
					<string>notequal</string>
					<string>approxequal</string>
					<string>less</string>
					<string>greater</string>
					<string>lessequal</string>
					<string>greaterequal</string>
					<string>plus.cap</string>
					<string>minus.cap</string>
					<string>multiply.cap</string>
					<string>divide.cap</string>
					<string>equal.cap</string>
					<string>less.cap</string>
					<string>greater.cap</string>
					<string>logicalnot</string>
					<string>equivalence</string>
					<string>minute</string>
					<string>second</string>
					<string>afii61248</string>
					<string>underscoredbl</string>
					<string>exclamdbl</string>
					<string>infinity</string>
					<string>partialdiff</string>
					<string>pi</string>
					<string>mu</string>
					<string>integral</string>
					<string>radical</string>
					<string>increment</string>
					<string>ohm</string>
					<string>product</string>
					<string>summation</string>
					<string>lozenge</string>
					<string>degree</string>
					<string>greater.OT</string>
					<string>less.OT</string>
					<string>plus.OT</string>
					<string>greater.LT</string>
					<string>divide.OT</string>
					<string>minus.OT</string>
					<string>plus.LT</string>
					<string>multiply.OT</string>
					<string>minus.LT</string>
					<string>equal.LT</string>
					<string>equal.OT</string>
					<string>g_g</string>
					<string>less.LT</string>
					<string>divide.LT</string>
					<string>multiply.LT</string>
				</array>
				<key>type</key>
				<string>glyphList</string>
			</dict>
		</array>
		<key>com.typemytype.robofont.compileSettings.autohint</key>
		<true/>
		<key>com.typemytype.robofont.compileSettings.checkOutlines</key>
		<false/>
		<key>com.typemytype.robofont.compileSettings.createDummyDSIG</key>
		<true/>
		<key>com.typemytype.robofont.compileSettings.decompose</key>
		<false/>
		<key>com.typemytype.robofont.compileSettings.generateFormat</key>
		<integer>0</integer>
		<key>com.typemytype.robofont.compileSettings.releaseMode</key>
		<false/>
		<key>com.typemytype.robofont.guideline.magnetic.CKCVDJfwGT</key>
		<integer>5</integer>
		<key>com.typemytype.robofont.guideline.showMeasurements.CKCVDJfwGT</key>
		<true/>
		<key>com.typemytype.robofont.italicSlantOffset</key>
		<integer>0</integer>
		<key>com.typemytype.robofont.segmentType</key>
		<string>curve</string>
		<key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
		<integer>1</integer>
		<key>public.glyphOrder</key>
		<array>
			<string>a</string>
			<string>circumflex</string>
			<string>uni0323</string>
			<string>.notdef</string>
			<string>.null</string>
			<string>CR</string>
			<string>space</string>
		</array>
	</dict>
</plist>
